* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
   list-style: none;
}
.container {
  margin-left: 145px;
}
.main_title {
  font-size: 50px;
  font-weight: 500;
  width: 555px;
  height: 140px;
  line-height: 70px;
  color: #0b132a;
}
.main_title span {
  font-weight: 700;
}
.first_paragraf {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  width: 555px;
  height: auto;
  line-height: 30px;
  color: #4f5665;
}
.button_top {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  height: auto;
  line-height: 25px;
  color: white;
  background-color: #f53838;
  padding: 17.5px 77.5px;
  border-radius: 10px;
}
.sec_main_title {
  margin-left: 138px;
  margin-top: 58.23px;
  font-size: 35px;
  font-weight: 500;
  width: 383.41px;
  height: auto;
  line-height: 50px;
}
.second_paragraf {
  margin-left: 138px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  width: 440px;
  height: auto;
  line-height: 30px;
  color: #4f5665;
}

.list li {

  margin-left: 140px;
  margin-top: 10px;
}

.list li::before {
  content: url(img/green.svg);
  vertical-align: middle;
}

li span {
  margin-left: 3px;
}
